*{
    margin: 0;
    padding: 0;
}
.full_page{
background-color: aquamarine;
height: 100vh;
text-align: center;
padding-top: 25%;
}
.page_view{
    background: blue;
     padding-left: 20%;
    padding-right: 20%; 
}
.showDetails{
    text-align: center;
    margin-bottom: 20%;
    background-color: red;
}
.showDetails h1{
    color: red;
}